.c-homepage-hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    pointer-events: none;
    user-select: none;

    img{
        max-width: 640px;
        margin-bottom: 32px;
        filter: drop-shadow(0 1px 2px rgba(#e34a25, 0.15));
    }

    .c-homepage-hero_buttons{
        display: block;
        text-align: center;
    }
}

.o-button{
    font-size: 18px;
    line-height: 48px;
    padding: 0 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(#e34a25, 0.87);
    background-color: rgba(#e34a25, 0.07);
    height: 48px;
    display: inline-block;
    border-radius: 2px;
    pointer-events: all;
}

.o-wrapper{
    display: inline-block;
}