#demo-1{
    .c-homepage-hero{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        pointer-events: none;
        user-select: none;
    
        img{
            max-height: 100px;
            margin-bottom: 32px;
            filter: drop-shadow(0 2px 4px rgba(41,41,41,0.15));
        }
    
        .c-homepage-hero_buttons{
            display: block;
            text-align: center;
        }

        h1{
            font-size: 56px;
            color: #f05a23;
            text-shadow: 0 2px 4px rgba(41,41,41,0.15);
            margin: 0;
            padding: 0;
            font-family: 'VAG';
            letter-spacing: 2px;
            display: inline-block;
            margin-left: 16px;
            vertical-align: top;
            margin-top: 33px;
        }
    }
    
    .o-button{
        font-size: 18px;
        line-height: 48px;
        padding: 0 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(#606ab1, 0.87);
        background-color: rgba(#eeeeee, 0.15);
        border-width: 2px;
        border-style: solid;
        border-color: #eeeeee;
        height: 48px;
        display: inline-block;
        border-radius: 2px;
        pointer-events: all;
        transition: all 150ms ease;

        &:hover{
            border-color: rgba(#606ab1, 0.87);
            background-color: rgba(#606ab1, 0.07);
        }
    }
}


.o-wrapper{
    display: inline-block;
}

@font-face {
    font-family: "VAG";
    src: url("./brand-font.ttf") format("truetype");
    font-weight: bold;
  }